<h1><%= @receiver.name %> とのメッセージ</h1>

<div class="messages">
  <% @messages.each do |message| %>
    <div class="<%= message.sender == current_user ? 'sent' : 'received' %>">
      <p><%= message.content %></p>
      <p><%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
    </div>
  <% end %>
</div>

<%= render 'form' %>
