<h1>投稿一覧</h1>

<%= link_to '新しい投稿', new_post_path %>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.content, post_path(post) %></h2>
    <p><%= post.user.name %></p>
    <p><%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
  </div>

  <% if current_user == post.user %>
    <%= link_to '削除', post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
  <% end %>
<% end %>


aaa